.nav {
  display: flex;
  justify-content: space-between;
}

nav h1 {
  color: blueviolet;
  margin: 0;
  font-size: 40px;
}

.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
  flex: 1;
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
  border-right: none;
}

.nav .nav-search button {
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
}

.nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav ul a {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
}

h1 a {
  text-decoration: none;
  color: blueviolet;
}

.suggested-serach {
  position: absolute;
  top: 40px;
  z-index: 10;
  width: 300px;
  background: #fff;
  display: list-item !important;
}

.suggested-serach li {
  padding: 5px;
  border: 1px solid #ddd;
}

.suggested-serach li a {
  cursor: pointer;
  text-decoration: none;
  color: blueviolet;
}

.suggested-serach:hover {
  transform: scale(1.1);
}
.suggested-serach img {
  width: ;
}
