.sign-up,
.login {
  text-align: center;
}

.auth-toggle-link {
  color: blueviolet;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
.auth-toggle-link a {
  text-decoration: none;
}
